{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- PROJETS -->
    <section id="portfolio" class="portfolio">
        <div class="box">
            <h2 class="section-title pull-left">Projets</h2>
            <div id="filters-container" class="cbp-l-filters-alignRight pull-right">
                <div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn">Tous</div>
                {% for category in categories %}
                    <div data-filter=".{{ category.name }}" class="cbp-filter-item-custom btn">{{ category.name }}</div>
                {% endfor %}
            </div>
            <!-- /#filters-container -->
            <div class="clearfix"></div>
            <div id="grid-container" class="cbp-l-grid-masonry">
                <ul>
                    {% for project in projects %}

                    <li class="cbp-item frame {% for category in project.categories %}{{ category.name }} {% endfor %}">
                        <a class="cbp-caption cbp-singlePage" href="{{ path('project', {id: project.id}) }}">
                            <div class="cbp-caption-defaultWrap"> <img src="img/projets/{{ project.image.url }}" alt="" style="{{ project.image.style }}"> </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">{{ project.title }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.cbp-l-grid-masonry -->
            <!--<div class="cbp-l-loadMore-button"> <a href="{{ path('more') }}" class="cbp-l-loadMore-button-link btn">Voir plus</a> </div>-->
        </div>
        <!-- /.box -->
    </section>
    <!-- FIN PROJETS -->

    <!-- DESCRIPTION -->
    <section id="about">
        <div class="box">
            <h2 class="section-title">{{ user.bioTitle | raw }}</h2>
            <div class="row">
                <div class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-4 col-xs-4 col-xs-push-4">
                    <figure><img src="{{ asset('img/philippe.jpg') }}" alt="" /></figure>
                </div>
                <!-- /column -->
                <div class="col-md-9 col-md-pull-3 col-sm-12 col-xs-12" >
                    {{ user.bio | raw }}
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="clearfix"></div>
            <div class="divide40"></div>
            <h2 class="section-title"></h2>
            <div class="divide10"></div>
        </div>
        <!-- /.box -->
    </section>
    <!-- FIN DESCRIPTION -->

    <!-- COMPETENCES -->
    <section id="skills">
        <div class="box">
            <h2 class="section-title">Compétences</h2>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="divide40"></div>
                    {% for skill in user.skills %}
                    <div class="barWrapper">
                        <span class="progressText"><B>{{ skill.name }}</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100" >
                                <span  class="popOver" data-toggle="tooltip" data-placement="top" title="{{ skill.level }}%"> </span>
                                <div class="tooltip fade top in" role="tooltip" id="tooltip653262" style="top: -34px; left: 28.0312px; display: block;">
                                    <div class="tooltip-arrow" style="left: 50%;"></div>
                                    <div class="tooltip-inner">{{ skill.level }}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="divide10"></div>
        </div>
        <!-- /.box -->
    </section>
    <!-- FIN COMPETENCES -->

    <!-- CONTACT -->
    <section id="contact">
        <div class="box">
            <h2 class="section-title">Me contacter</h2>
            <p></p>
            <div class="divide20"></div>
            <div class="row text-center services-2">
                <div class="col-md-3 col-sm-12"> <i class="budicon-map"></i>
                    <p>{{ user.street }}<br> {{ user.code }} {{ user.city }}</p>
                </div>
                <div class="col-md-3 col-sm-12"> <i class="budicon-telephone"></i>
                    <p>{{ user.phone }}</p>
                </div>
                <div class="col-md-3 col-sm-12"> <i class="budicon-mobile"></i>
                    <p>{{ user.mobile }}</p>
                </div>
                <div class="col-md-3 col-sm-12"> <i class="budicon-mail"></i>
                    <p> <a class="nocolor" href="mailto:#">{{ user.email }}</a> </p>
                </div>
            </div>
            <!-- /.services-2 -->
            <div class="divide30"></div>
            <div class="form-container">
                <div class="response alert alert-success"></div>
                {{ form_start(form) }}
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-row text-input-row name-field">
                                {{ form_row(form.name, { 'label': 'Nom'}) }}
                            </div>
                            <div class="form-row text-input-row email-field">
                                {{ form_row(form.from, { 'label': 'Email'}) }}
                            </div>
                            <div class="form-row text-input-row subject-field">
                                {{ form_row(form.subject, { 'label': 'Objet'}) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 lp5">
                            <div class="form-row text-area-row">
                                {{ form_row(form.message, { 'label': 'Message'}) }}
                            </div>
                            <div class="form-row hidden-row">
                                <input type="hidden" name="hidden" value=""> </div>
                            <div class="nocomment" style="display: none;">
                                <label for="nocomment">Laisser le champ libre</label>
                                <input id="nocomment" value="" name="nocomment">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="button-row pull-right">
                                <input type="submit" value="Envoyer" name="submit" class="btn btn-submit bm0">
                            </div>
                        </div>
                        <div class="col-sm-6 lp5">
                            <div class="button-row pull-left">
                                <input type="reset" value="Effacer" name="reset" class="btn btn-submit bm0">
                            </div>
                        </div>
                        <input type="hidden" name="v_error" id="v-error" value="Required">
                        <input type="hidden" name="v_email" id="v-email" value="Enter a valid email">
                    </div>
                </fieldset>
                {{ form_end(form) }}
            </div>
            <!-- /.form-container -->
        </div>
        <!-- /.box -->
    </section>
    <!-- FIN CONTACT -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}