<div class="cbp-loadMore-block1">
    {% for project in projects %}
    <li class="cbp-item frame {% for category in project.categories %}{{ category.name }} {% endfor %}">
        <a class="cbp-caption cbp-singlePage"  href="{{ path('project', {id: project.id}) }}">
            <div class="cbp-caption-defaultWrap"> <img src="img/projets/{{ project.image.url }}" alt="" style="{{ project.image.style }}"> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">{{ project.title }}</div>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</div>