<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#">
    <title>{% block title %}Administration{% endblock %}</title>    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/plugins.css') }}" rel="stylesheet">
        <link href="{{ asset('css/prettify.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/green.css') }}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/fontello.css') }}" rel="stylesheet">
        <link href="{{ asset('css/budicons.css') }}" rel="stylesheet">

    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="style/js/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>

        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="current"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="current"><a href="{{ path('admin_projects') }}">Projects</a></li>
                <li class="current"><a href="{{ path('admin_skills') }}">Skills</a></li>
                <li class="current"><a href="{{ path('admin_tasks') }}">Tasks</a></li>
                <li class="current"><a href="{{ path('admin_users') }}">Users</a></li>
                <li class="current"><a href="{{ path('admin_posts') }}">Posts</a></li>
                <li class="current"><a href="{{ path('admin_comments') }}">Comments</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            </ul>
            <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /.navbar -->

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <!-- /.container -->
</div>
<!-- /.body-wrapper -->
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('js/classie.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script>
        $.backstretch(["{{ asset('img/react2.png') }}"]);
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</body>
</html>