{% extends 'Admin/base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container inner">
        <section>
            <div class="box">
                {{ form_start(form) }}
                <fieldset>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                            <div class="form-row text-input-row text-field">
                                {{ form_row(form.title) }}
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                            <div class="form-row text-input-row text-field">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                            <div class="form-row text-input-row text-field">
                                {{ form_row(form.link) }}
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                            <div class="form-row text-input-row text-field">
                                {{ form_row(form.image) }}
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                            <div class="form-row">
                                {{ form_row(form.categories) }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="button-row pull-right">
                                <input type="submit" value="Envoyer" name="submit" class="btn btn-submit bm0" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 lp5">
                            <div class="button-row pull-left">
                                <input type="reset" value="Effacer" name="reset" class="btn btn-submit bm0" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}

            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}