{% extends 'layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container inner">
        <div class="blog grid-view row">
            <div class="col-md-8 col-sm-12 content">
                <div class="blog-posts">
                    <div class="box" style="margin-bottom: 50px;">
                        <div class="count">
                            <h3>{{ pagination.getTotalItemCount }} articles</h3>
                        </div>
                    </div>
                    {% for post in pagination %}
                    <div class="isotope row">
                        <div class="col-md-6 col-sm-12 post-grid pull-left">
                            <div class="post box">
                                <figure class="frame main"><a href="{{ path('view', { id: post.id }) }}">
                                        <div class="text-overlay">
                                            <div class="info"><span>Voir plus</span></div>
                                        </div>
                                        <img src="style/images/art/b2-1.jpg" alt="" /></a></figure>
                                <div class="meta">
                                    <span class="category">
                                        {% for category in post.categories %}
                                            {{ category.name }}
                                        {% endfor %}
                                    </span>
                                    <span class="date">{{ post.createdAt | date('d-m-Y') }}</span>
                                    <span class="comments"><a href="#">{{ post.comments | length }} <i class="icon-chat-1"></i></a></span>
                                </div>
                                <h2 class="post-title"><a href="{{ path('view', { id: post.id }) }}">{{ post.title }}</a></h2>
                                {{ post.content | slice(0, 100) | raw }}
                            </div>
                            <!-- /.post -->
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /.isotope -->
                </div>
                <!-- /.blog-posts -->

                <!--<div class="pagination box">
                    <ul>
                        <li><a href="#" class="btn">Prev</a></li>
                        <li class="active"><a href="#" class="btn"><span>1</span></a></li>
                        <li><a href="#" class="btn"><span>2</span></a></li>
                        <li><a href="#" class="btn"><span>3</span></a></li>
                        <li><a href="#" class="btn">Next</a></li>
                    </ul>
                </div>
                 /.pagination -->

                <div class="pagination box">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

            </div>
            <!-- /.content -->


            {{ include('Blog/aside.html.twig') }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}