{% extends 'layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container inner">
        <div class="single blog row">
            <div class="col-md-8 col-sm-12 content">
                <div class="blog-posts">
                    <div class="post box">
                        <div class="meta">
                            <span class="category">
                                {% for category in post.categories %}
                                    {{ category.name }}
                                {% endfor %}
                            </span>
                            <span class="date">{{ post.createdAt | date('d-m-Y')}}</span>
                            <span class="comments"><a href="#">{{ post.comments | length }} <i class="icon-chat-1"></i></a></span></div>
                        <h2 class="post-title"><a href="blog-post.html">{{ post.title }}</a></h2>
                        {{ post.content | raw  }}
                        <div class="meta tags">
                            {% for tag in post.tags %}
                                <a href="#">{{ tag.name }}</a>,
                            {% endfor %}
                        </div>
                        <!-- /.tags -->
                        <div class="share"> <a href="#" class="btn share-facebook">Like</a> <a href="#" class="btn share-twitter">Tweet</a> <a href="#" class="btn share-googleplus">+1</a> <a href="#" class="btn share-pinterest">Pin It</a> </div>
                        <!-- /.share -->
                    </div>
                    <!-- /.post -->
                </div>
                <!-- /.blog-posts -->

                <div class="divide20"></div>

                <div class="box">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="comment-form-wrapper box">
                        <h3>Poster un commentaire ?</h3>
                        {{ form_start(form) }}
                        <div class="message-field">
                            {{ form_row(form.content) }}
                        </div>
                        <input type="submit" value="Envoyer" name="submit" class="btn btn-submit" />
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <p>
                        <a class="btn btn-success" href="{{ path('login', {'redirect_to': app.request.pathInfo}) }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>Connectez-vous
                        </a>
                        pour publier un commentaire
                    </p>
                {% endif %}
                </div>

                <div id="comments" class="box">
                    <h3>{% if (post.comments | length) == 1 %} 1 commentaire {% elseif (post.comments | length) == 0 %} {% else %} {{ post.comments | length }} commentaires {% endif %}</h3>
                    <ol id="singlecomments" class="commentlist">
                        {% for comment in post.comments %}
                        <li>
                            <div class="user frame"><img alt="" src="style/images/art/u1.jpg" class="avatar" /></div>
                            <div class="message">
                                <div class="info">
                                    <h2><a href="#">{{ comment.author.username }}</a></h2>
                                    <div class="meta">
                                        <div class="date">{{ comment.publishedAt|date('d-m-Y')  }}</div>
                                        <a class="reply-link" href="#">Répondre</a> </div>
                                </div>
                                <p>{{ comment.content|raw }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                <!-- /#comments -->
                <div class="divide20"></div>
                <!-- /.comment-form-wrapper -->
            </div>
            <!-- /.content -->

            {{ include('Blog/aside2.html.twig') }}

        </div>
        <!-- /.blog -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
