{% extends 'layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container inner">
        <div class="box">
            <div class="form-container">
                <form class="m-t" role="form" action="{{ path('login') }}" method="post" novalidate>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6 col-sm-12">
                                <div class="form-row text-input-row name-field">
                                    <label>Pseudo ou Email</label>
                                    <input type="text" name="_username" value="{{ last_username }}" placeholder="Email" class="text-input defaultText required"/> </div>
                                <div class="form-row text-input-row subject-field">
                                    <label>Mot de passe</label><a class="pull-right" href="{{ path('forgot') }}"> (Mot de passe oublié ?)</a>
                                    <input type="password" name="_password" class="text-input defaultText" placeholder="Mot de passe" /> </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="button-row pull-right">
                                    <input type="submit" value="Envoyer" name="submit" class="btn btn-submit bm0" />
                                    {% if error %}
                                        <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 lp5">
                                <div class="button-row pull-left">
                                    <input type="reset" value="Effacer" name="reset" class="btn btn-submit bm0" /> </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}